html {
    font-family: 'Roboto', sans-serif;
    background-color: #26006e;
    color: white;
    font-size: 30px;
    margin: 100px;
}

#container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button {
    min-width: 300px;
    min-height: 300px;
    padding: 25px 50px;
    font-size: 24px;
    border-radius: 20px;
    border: 5px solid white;
    background-position: center center;

}

#paper-button { 
    background: url(./img/paper.png);
    background-size: 100% 100%;
}

#rock-button { 
    background: url(./img/rock.png);
    background-size: 100% 100%;
}

#scissors-button { 
    background: url(./img/scissors.png);
    background-size: 100% 100%;
}
button:hover {
    border: none;
}

#score , #selection{
    display: flex;
    justify-content: center;
    gap: 150px;
}

#winner {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#winner p {
    font-size: 35px;;
}